@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}


.title1 {
  font-family: "Satoshi", "Satoshi Placeholder", sans-serif;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1.1em;
}

.italic1 {
  font-family: "Instrument Serif", "Instrument Serif Placeholder", serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0em;
}